html {
    /*
    default font size is 16px
    62.5% = 10px => 1rem = 10px 
    */
    font-size: 100%;
}

body {
    font-family: "Rubik", sans-serif;
    padding-top: 4.5rem;
}

.my-bg-primary {
    background-color: #fdf2e9;
}

.my-text-brand-color {
    color: #cf711f;
}

.my-bg-brand-color {
    background-color: #e67e22;
}

.navigation-logo {
    width: auto;
    height: 1.6rem;
}

.hero-customers-img {
    height: 40px;
    width: auto;
}
